* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* height: 200vh; */
  max-height: 100vh;
}

.App-header {
  background-color: #0055ff;
  min-height: 10vh;
  color: white;
}

main {
  overflow: auto;
}

button {
  background-color: #0A84FF;
  color: white;
  border-radius: 10%;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

footer {
  margin-bottom: 1rem;
}

.form-add-item {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0.5rem;
}

.form-add-item input {
  margin-right: 0.5rem;
  box-shadow: 2px 2px 5px gray;
  width: 50vw;
  border-color: white;
  padding: 0.5rem;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 11vh;
}

.error-text {
  color: red;
  font-size: 0.85rem;
  margin: 0;
  padding: 0.5rem 0.5rem 0 0.6rem;
}

.list-selection-container {
  font-size: 2rem;
}

.list-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  padding: 0;
  margin: 1rem 0.5rem 1rem 0.5rem
}

.list-display-container p {
  margin: 0.5rem;
}

@media screen and (max-width: 800px) {
  .App {
    height: 100vh;
  }

  header {
    flex: 0 0 auto;
  }

  #add-item {
    flex: 0 0 auto;
  }

  main {
    flex: 1 1 auto;
  }
  
  footer {
    flex: 0 0 auto;
  }
}